projeto1-classificador-tarefas/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        0
      ],
      "id": "df42a0be-7fc3-46b2-b4f0-a1304ca93bef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1441430193662070784/RrsHpMrl_gvaw76u8wzy4_d4KrJTPhJVb-HoYTooGda4yI2whC90r7U-8ddeSTV3bAUO",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"content\": \"Tarefa finalizada!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        16
      ],
      "id": "d3461207-b5bf-4a24-be48-65a2b85ce289",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04efe9ae-6b6f-410d-83df-08450cf65b6b",
              "name": "tarefas",
              "value": "[   { \"titulo\": \"Pagar servidor\", \"priority\": \"alta\" },   { \"titulo\": \"Revisar documentação\", \"priority\": \"media\" },   { \"titulo\": \"Organizar pastas\", \"priority\": \"baixa\" } ]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        0
      ],
      "id": "d7a64c90-bed3-4a3e-a0c3-5db9ad6def69",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tarefas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "9cc6c757-ead1-40eb-84c3-ceeabaaf9392",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "alta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b4e98879-a91a-4792-8d0d-149d0fc092a8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "09ea6d82-87fa-4622-a05e-808d4b0ca7fd",
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "311be5aa-719a-4221-8425-6a1f73d06b7d",
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "baixa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        0,
        -16
      ],
      "id": "b971659e-973d-4eca-a474-614466bf5688",
      "name": "Switch"
    },
    {
      "parameters": {
        "listId": "68ffd2a5d9ab6034b0fe3838",
        "name": "={{ $json.titulo }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        496,
        -144
      ],
      "id": "68afa967-9945-419d-b55d-222c7ce84d9e",
      "name": "Create a card",
      "credentials": {
        "trelloApi": {
          "id": "cC5jhJhiXwuHK2hm",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09VBDJPC64",
          "mode": "list",
          "cachedResultName": "novo-canal"
        },
        "text": "=Atenção necessária: {{ $json.titulo }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        496,
        0
      ],
      "id": "4e1f0b5e-f296-48ec-b1bc-c9f804ce7046",
      "name": "Send a message",
      "webhookId": "ff8f0a27-a4f0-4346-850c-62b85f5f01be",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ovpn8n6afrMNctGN",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10_ZeZuefKjPJO1wu51JpXACJ4V49LpF8c8iWPwHyI2U",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10_ZeZuefKjPJO1wu51JpXACJ4V49LpF8c8iWPwHyI2U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10_ZeZuefKjPJO1wu51JpXACJ4V49LpF8c8iWPwHyI2U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        144
      ],
      "id": "98359fdd-d5a3-4af1-863d-d99757ee6bf1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BipTB5MRioQUoDpG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f2fa904-4127-4f5c-a990-be4c18483983",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        112
      ],
      "id": "095daa1d-f929-4c4d-8566-f1934b8efdef",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        16
      ],
      "id": "321f7ab0-5a4b-4504-9627-e859679d0621",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4bb91ac-6492-42ab-ab56-ea3dacf719af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d757f3bd1e032ca6220e2533cb1330b9a41f045ce45f9d2d79351e9a748d4d6"
  },
  "id": "7nsGRTw3neTwQ2tW",
  "tags": []
}
